@import url("https://fonts.googleapis.com/css?family=Oswald:300,400|Quattrocento:400,700");
*,
*:after,
*:before {
  margin: 0;
  padding: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

.skip-link, .screen-reader-text {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
  position: absolute; }
  .skip-link:focus, .screen-reader-text:focus {
    clip: auto;
    height: auto;
    left: 6px;
    top: 7px;
    width: auto;
    z-index: 100000; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 70%; }

p, li, button, .button, label, table {
  font-size: 1em;
  font-size: calc(1em + 0.5vw); }

.nav_links li {
  font-size: 1em;
  font-size: calc(1em + 0.5vw); }

h4 {
  font-size: 0.7em;
  font-size: calc(0.7em + 0.5vw); }

h3 {
  font-size: 1.1326em;
  font-size: calc(1.1326em + 0.5vw); }

h2 {
  font-size: 1.83255em;
  font-size: calc(1.83255em + 0.5vw); }

h1 {
  font-size: 2.96506em;
  font-size: calc(2.96506em + 0.5vw); }

.hero_h1 {
  font-size: 5.75696em;
  font-size: calc(5.75696em + 0.5vw); }

@media screen and (max-width: 500px) {
  h4 {
    font-size: 0.7em;
    font-size: calc(0.7em + 0.5vw); }

  h3 {
    font-size: 1.1326em;
    font-size: calc(1.1326em + 0.5vw); }

  h2 {
    font-size: 1.83255em;
    font-size: calc(1.83255em + 0.5vw); }

  h1 {
    font-size: 2.96506em;
    font-size: calc(2.96506em + 0.5vw); } }
body, h1 {
  font-family: 'Quattrocento', serif;
  text-align: center; }

h1, h2, h3, h4, h5 {
  line-height: 1.2em;
  font-weight: 300;
  padding: 0 0 1em 0;
  text-transform: capitalize; }

h2 {
  font-weight: 300;
  font-family: 'Oswald', sans-serif; }

h3, h4, h5 {
  font-weight: 400;
  font-family: 'Oswald', sans-serif; }

p {
  line-height: 1.8em;
  padding: 0 0 1em 0;
  margin: 0 auto;
  text-align: justify;
  max-width: 600px; }

a {
  color: #2d2d2d;
  text-decoration: none;
  cursor: pointer; }

.row {
  width: 100%;
  margin: 0 auto;
  padding: 2.61792em 4.2358%; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.box-33 {
  width: 24.86173%;
  margin: 0 4.2358%;
  float: left;
  overflow: hidden;
  min-height: 1px;
  padding-bottom: 2.61792em; }
  @media screen and (max-width: 500px) {
    .box-33 {
      display: inline-block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.box-66 {
  width: 58.19506%;
  margin: 0 4.2358%;
  float: left;
  overflow: hidden;
  min-height: 1px;
  padding-bottom: 2.61792em; }
  @media screen and (max-width: 500px) {
    .box-66 {
      display: inline-block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.box-50 {
  width: 41.5284%;
  margin: 0 4.2358%;
  float: left;
  overflow: hidden;
  min-height: 1px;
  padding-bottom: 2.61792em; }
  @media screen and (max-width: 500px) {
    .box-50 {
      display: inline-block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.box-25 {
  width: 16.5284%;
  margin: 0 4.2358%;
  float: left;
  overflow: hidden;
  min-height: 1px;
  padding-bottom: 2.61792em; }
  @media screen and (max-width: 500px) {
    .box-25 {
      display: inline-block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.box-100 {
  width: 91.5284%;
  margin: 0 4.2358%;
  float: left;
  overflow: hidden;
  min-height: 1px;
  padding-bottom: 2.61792em;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .box-100 {
      display: inline-block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

li a, p a {
  border-bottom: 3px solid transparent;
  transition: all .3s ease; }
  li a:hover, p a:hover {
    border-bottom: 3px solid #5897C4; }

.button:hover {
  border: 1px solid #5897C4;
  background-color: #5897C4;
  transition: all .3s ease;
  color: #fff; }

.hero_h1 {
  margin-bottom: 0; }

.border-top {
  border-top: 1px solid #e0e0e0; }

.colorBg {
  background-color: #5897C4; }
  .colorBg a, .colorBg p, .colorBg h1, .colorBg h2, .colorBg h3, .colorBg h4, .colorBg .button, .colorBg .nav_logo, .colorBg .nav_sublogo {
    color: #fff; }
  .colorBg .button {
    border-color: #fff; }

nav {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1.618% !important; }
  nav .nav_links-active {
    border-bottom: 3px solid #5897C4; }
  nav .nav_logo {
    font-weight: 300;
    margin: 0px auto;
    font-size: calc(1.5em + 0.5vw); }
  nav .nav_sublogo {
    color: #868686;
    display: block;
    font-style: italic;
    font-family: 'Quattrocento';
    font-weight: 400;
    font-size: 70%;
    margin: 1.618%; }
    nav .nav_sublogo a {
      color: #868686; }
    @media screen and (max-width: 900px) {
      nav .nav_sublogo {
        line-height: 1.8em; } }
  nav .nav_links {
    display: block;
    margin: 0px auto;
    width: 100%; }
    nav .nav_links ul li {
      display: inline;
      padding: 1em; }

.button {
  padding: 0.5em;
  margin: 1em 0 2.61792em 0;
  font-weight: 400;
  display: inline-block;
  border: 1px solid #2d2d2d; }

footer p {
  padding-bottom: 0;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
